<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<h1>Регистрация.</h1>
<input type="text" id="name" name="name" placeholder="ФИО"> </br>
<input type="text" id="gmail" name="gmail" placeholder="Gmail"></br>
<div style="display: flex">
    <input type="radio" id="pol" name="pol"></br>
    <label for="pol">Муж</label>
</div>
<div style="display: flex">
    <input type="radio" id="pol2" name="pol"></br>
    <label for="pol2">Жен</label>
</div>
<button>Send</button></br>
</body>
</html>